main {
  display: grid;
  grid-template-areas:
  "topbar topbar topbar"
  "baraa content sambar"
  "footer footer footer";
  grid-template-columns: var(--grid-column) var(--grid-column) var(--grid-column);
  grid-template-rows: var(--font-size-xxl) auto var(--header-height); 
  justify-items: center;
  
}
cart-list{
  grid-area: baraa;
}
cart-total{
  grid-area: sambar;
}

.order-summary {
  width: var(--mid-width);
  padding: var(--font-size-lg);
  border-radius: var(--font-size-xs);
  box-shadow: 0 var(--spacing-xs) calc(var(--spacing-xxs)*3) var(--font-color-dark);
  position: fixed;
  top: var(--mid-width);
  left: var(--mid-width);
}

.item {
  display: flex;
  color: var(--color-neutral-grey-6);
  justify-content: space-between;
  margin: var(--border-radius) 0;
}

.discount {
  color: var(--color-red);
}


.total {
  font-weight: bold;
  font-size: var(--spacing-md);
  color: var(--color-neutral-grey-6);
}

hr {
  border: none;
  border-top: var(--border-width) solid var(--color-neutral-grey-1);
  margin: var(--border-radius) 0;
}

.continue-btn {
  width: var(--max-width);
  padding: var(--border-radius) 0;
  background-color: var(--color-neutral-grey-6);
  color: var(--font-color-light);
  border: none;
  border-radius:var(--spacing-xs);
  cursor: pointer;
  font-size: var(--font-size-md);
  margin-top: var(--border-radius);
}

.continue-btn:hover {
  background-color: var(--color-neutral-grey-5);
}

.note {
  margin-top: var(--font-size-lg);
  font-size: var(--font-size-xs);
  color: var(--color-neutral-grey-4);
  text-align: center;
}
.related-products{
  grid-area: footer;
  align-items: start;
}