.gallery-container{
    display: flex;
    padding: calc(var(--max-width)*0.01);
}
.gallery-slider-wrapper{
    position: relative;
    max-width: var(--max-width);
    margin: 0 auto;
}
.gallery-slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 var(--font-size-xl) var(--font-size-xxl) -var(--font-size-xs) var(--font-color-dark);
    border-radius: var(--font-size-xxs);
}
.gallery-slider::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }
.gallery-slider img{
    flex: 1 0 var(--max-width);
    scroll-snap-align: start;
    object-fit: cover;
}
.gallery-slider-nav{
    display: flex;
    column-gap: var(--font-size-md);
    position: absolute;
    bottom: var(--font-size-lg);
    left: calc(var(--max-width)/2);
    transform: translateX(-calc(var(--max-width)/2));
    z-index: 1;
}
.gallery-slider-nav a{
    width: var(--font-size-xxs);
    height: var(--font-size-xxs);
    border-radius: calc(var(--max-width)/2);
    background-color: var(--font-color-light);
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.gallery-nav a:hover{
    opacity: var(--max-width);
    color: var(--font-color-dark);
}
.home-sale{
    display: block;
    position: absolute;
    left: calc(var(--max-width)*0.3); 
    top: calc(var(--max-width)*0.3);
    transform: translateX(-calc(var(--max-width)/2)); 
    color: var(--font-color-light); 
    text-align: center; 
    z-index: 1; 
    font-size: 2.5vw;

}
.home-sale h1 {
    color: var(--font-color-light);
    top: calc(var(--max-width)*0.2); 
}

.home-sale p {
    top: calc(var(--max-width)*0.4);
    font-size: 1.5vw; 
    color: var(--font-color-light);
}
.services {
    margin-top: calc(var(--font-size-md)*2) ;
    justify-content: center;
    display: flex;
    align-items: center;
}



.gallery-container {
    grid-area: gallery;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services {
    grid-area: services;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--border-radius)*3), var(--grid-column)));
    text-align: center;
}
.featured-products {
    text-align: center;
}
/* Утасны дэлгэцэнд зориулсан хэв маяг */
@media (max-width: 768px) {
    .featured-products {
        padding: var(--font-size-lg) var(--border-radius);
        text-align: center;
    }

    .featured-products h2 {
        font-size: calc(var(--border-radius)*3);
        margin-bottom: var(--font-size-sm);
    }
    .services {
        scale: 0.8;
    }

    .products-grid {
        display: grid;
        grid-template-columns: var(--grid-column) var(--grid-column);
        gap: var(--font-size-lg);
    }

    .products-grid .product-item {
        padding: var(--font-size-sm);
        border: var(--border-width) solid var(--color-neutral-grey-1);
        border-radius: var(--border-radius);
        background-color: var(--font-color-light);
        box-shadow: 0 var(--spacing-xxs) var(--spacing-xs) var(--font-color-dark);
        text-align: left;
    }
}



.featured-products h2 {
    margin-bottom: var(--font-size-lg);
    font-size: var(--font-size-xl);
}

.products-grid {
    display: grid;
    margin: var(--font-size-xxl);
    gap: var(--font-size-lg);
    grid-template-columns: repeat(4, var(--grid-column)); 
    
}

/* Responsive design for product grid */
@media (max-width: 1200px) {
    .products-grid {
        grid-template-columns: repeat(3, var(--grid-column));
    }
}

@media (max-width: 992px) {
    .products-grid {
        grid-template-columns: repeat(2, var(--grid-column));
    }
}

@media (max-width: 768px) {
    .products-grid {
        grid-template-columns: var(--grid-column);
    }
}

.product-image-container {
    position: relative;
    width: var(--max-width);
    overflow: hidden;
    border-radius: var(--border-radius);
}
.product-thumbnail{
    width: calc(var(--mid-width)*0.7);
    height: calc(var(--mid-width)*0.7);
}
.heart-button {
    position: absolute;
    top: var(--border-radius);
    scale: 1.3;
    right: var(--header-height);
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
a {
    text-decoration: none;
  }

.heart-button:hover {
    transform: scale(1.1);
}

.product-card h3 {
    margin-top: var(--border-radius);
    color: var(--primary-color);
    font-size: 1.calc(var(--font-size-md)*2);
    transition: color var(--transition-time);
}

.product-item {
    background: var(--color-neutral-grey-1);
    padding: var(--font-size-sm);
    text-align: center;
    transition: transform 0.2s;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-thumbnail {
    max-width: var(--max-width);
    height: auto;
    margin-bottom: var(--border-radius);
    border-radius: var(--spacing-xs);
}

.product-item h3 {
    margin: var(--border-radius) 0;
    font-size: var(--font-size-mid);
    color: var(--color-neutral-grey-6);
}

.product-item button {
    padding: var(--border-radius) var(--font-size-lg);
    background: var(--color-blue);
    color: var(--font-color-light);
    border: none;
    border-radius:var(--spacing-xs);
    cursor: pointer;
    font-size: var(--font-size-sm);
    transition: background var(--transition-time);
}


.about-thrift {
    grid-area: about;
    text-align: center;
}

.sale {
    grid-area: sale;
    text-align: center;
}

.brand {
    grid-area: brand;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--font-size-lg)*5), var(--grid-column)));
    gap: var(--border-radius);
    justify-items: center;
}

.classics-collection {
    grid-area: classics;
    display: grid;
    grid-template-columns: var(--grid-column) var(--grid-column);
    gap: var(--font-size-lg);
}
.scroll-left, .scroll-right {
    background-color: var(--primary-color);
    color: var(--text-color-dark);
    border: none;
    padding: var(--border-radius);
    cursor: pointer;
    font-size: var(--font-size-xl);
    position: absolute;
}
.about-thrift {
    padding: calc(var(--font-size-md)*5) 1calc(var(--font-size-md)*5);
    font-size: x-large;
    text-align: center;
    position: relative; 
}

.sale {
    position: relative; /* Ensure relative positioning for absolute children if needed */
    overflow: hidden; /* Hide overflow if necessary */
    text-align: center;
}
.sale h2{
    position: absolute;/* Positioning text over the image */
    text-align: center; /* Center the text */
    z-index: 1; 
    top: calc(var(--max-width)/2); /* Position from the top of the banner */
    left: calc(var(--max-width)/5); /* Position horizontally in the center */
    transform: translate(-calc(var(--max-width)/2), 0%);
    font-size: 3vw;
    white-space: nowrap; 
    text-wrap: wrap;
}
.sale ul {
    position: absolute;
    display: flex;
    align-items: center; /* Текстийг төвд байрлуулна */
    text-align: center;
    z-index: 1;
    bottom: calc(var(--max-width) * 0.1);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-wrap: wrap;
  }
.sale ul button {
    border: transparent;
    cursor: pointer;
    transition: background var(--transition-time) ease-in-out;
    background-color: transparent;
    color: var(--color-neutral-grey-5);
    
}
.sale ul button:hover {
    color: var(--font-color-light);
}
.sale img {
    width: var(--max-width); /* Set the width to var(--max-width) of the parent */
    height: auto; /* Maintain the aspect ratio */
    
}
.brand {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.shop-button {
    display: inline-block;
    background-color: var(--font-color-dark);
    color: var(--font-color-light);
    text-decoration: none;
    border-radius:var(--spacing-xs);
    font-size: var(--font-size-md);
    padding: var(--border-radius) var(--font-size-lg);
    white-space: nowrap;
}
.classics-collection {
    display: flex; /* Use flexbox for the section */
    flex-direction: column; /* Arrange children in a column */
    margin: 0 auto;
    padding: var(--font-size-lg);
    text-align: center;
}
.flex-container {
    display: flex; /* Use flexbox for the first two columns */
}
.image-item {
    flex: 0 0 calc(var(--max-width)/2);
    width: var(--max-width); /* Fill the width of the container */
    position: relative;
    flex-basis: calc(var(--max-width)/2);
}
.image-item img {
    width: var(--max-width);
    height: var(--max-width);
}
.hero-section {
    flex: 2; /* Allow the hero section to take more space */
    display: flex; /* Flexbox for centering text */
    flex-direction: column; /* Stack text elements */
    justify-content: flex-end; /* Center text vertically */
    align-items: center; /* Center children horizontally */
    text-align: center;
    flex-basis: calc(var(--max-width)/2);
}
.hero-section h1 {
    font-size: calc(var(--font-size-xs)*3);
    font-weight: bold;
    justify-content: center; 
}

.hero-section p {
    font-size: var(--font-size-md);
    margin: var(--font-size-md) 0;
    justify-content: center; 
}
.images-container {
    display: flex; /* Use flexbox for the two images below */
    justify-content: space-between; /* Space between the two images */
    margin-top: calc(var(--border-radius)*3);
}

.image-item1 {
    flex: 1; /* Each image takes equal space */
    padding-top: calc(var(--font-size-md)*6);
    position: relative;
}

.image-item p {
    padding: 0; /* Remove default padding */
    position: absolute;
    bottom: var(--font-size-xl);
    left: var(--border-radius);
    color: var(--font-color-light);
    background-color: var(--font-color-dark);
    font-size: var(--font-size-xs);
    border-radius: var(--spacing-xxs);
}
.image-item1 p {
    padding: 0; /* Remove default padding */
    position: absolute;
    bottom: var(--font-size-sm);
    left: var(--border-radius);
    color: var(--font-color-light);
    background-color: var(--font-color-dark);
    font-size: var(--font-size-xs);
    border-radius: var(--spacing-xxs);
}
.images-container img {
    width: var(--max-width); /* Set image to fill its container */
    height: var(--max-width); /* Maintain aspect ratio */
}

.scroll-left {
    left: var(--border-radius);
}

.scroll-right {
    right: var(--border-radius);
}

@media (max-width: 992px) {
    .classics-collection .flex-container {
        flex-direction: column;
    }

    .classics-collection .image-item,
    .classics-collection .hero-section {
        flex-basis: var(--max-width);
    }

    .classics-collection .images-container {
        flex-direction: column;
    }

    .classics-collection .image-item1 {
        padding-top: calc(var(--font-size-md)*2);
    }
}

@media (max-width: 768px) {
    .classics-collection .hero-section h1 {
        font-size: var(--font-size-xl);
    }

    .classics-collection .hero-section p {
        font-size: var(--font-size-sm);
    }

    .classics-collection .shop-button {
        font-size: var(--font-size-sm);
        padding: var(--font-size-xs) var(--font-size-md);
    }
}