#cart-notification {
    display: none; /* Эхэндээ харуулахгүй */
    position: absolute;
    top: var(--font-size-xxl); /* Сагсны доорх зайг тохируулна */
    background: var(--color-neutral-grey-1);
    border: var(--border-width) solid var(--color-neutral-grey-2);
    border-radius: var(--spacing-xs);
    padding: var(--border-radius);
    box-shadow: 0 var(--spacing-xs) var(--font-size-xxs) var(--font-color-dark);
    font-size: var(--font-size-sm);
    z-index: 1000;
    width: calc(var(mid-width)/2);
    opacity: 0;
    transform: translateY(-var(--border-radius));
    transition: opacity var(--transition-time) ease, transform var(--transition-time) ease;
}

#cart-notification.show {
    display: flex;
    opacity: 1;
    transform: translateY(var(--font-size-xxl));
}
