.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    grid-area: footer;
    gap: 10px;
    
} 

.pagination-button {
    padding: 8px 16px;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
}

.pagination-button:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
    color: #999;
}

.pagination-numbers {
    display: flex;
    gap: 5px;
}

.pagination-number {
    padding: 8px 12px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
}

.pagination-number.active {
    background-color: #353943;
    color: white;
    border-color: #353943;
}

.pagination-button:hover:not(:disabled),
.pagination-number:hover:not(.active) {
    background-color: #f0f0f0;
}