.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--font-size-lg) 0;
    grid-area: footer;
    gap: var(--border-radius);
    
} 

.pagination-button {
    padding: var(--font-size-xxs) var(--font-size-md);
    background-color: var(--font-color-light);
    cursor: pointer;
    border-radius: var(--spacing-xs);
}

.pagination-button:disabled {
    background-color: var(--color-neutral-grey-2);
    cursor: not-allowed;
    color: var(--color-neutral-grey-3);
}

.pagination-numbers {
    display: flex;
    gap: var(--spacing-xs);
}

.pagination-number {
    padding: var(--font-size-xxs) var(--font-size-xs);
    text-align: center;
    background-color: var(--font-color-light);
    cursor: pointer;
    border-radius: var(--spacing-xs);
}

.pagination-number.active {
    background-color: var(--color-neutral-grey-6);
    color: var(--font-color-light);
    border-color: var(--color-neutral-grey-6);
}

.pagination-button:hover:not(:disabled),
.pagination-number:hover:not(.active) {
    background-color: var(--color-neutral-grey-1);
}