:root {
    --primary-color: #353943;

}
main {
    display: grid;
    grid-template-areas:
    "topbar topbar topbar"
    "sidebar content ads"
    "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 50px auto 70px; 
    justify-items: center;
    
}
.pagination {
    display: flex;
    
    gap: 10px;
}
#toggle-sidebar {
    grid-area: sidebar;
}
.filter-panel {
    grid-area: sidebar;
    margin: 10%;
    height: fit-content;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 40px;
    color: var(--text-color);
}

.filter-group, .filter-section {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--background-color);
    padding-bottom: 15px;
}

.filter-group h4 {
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--primary-color);
}

/* Keyword Input Styles */
.keyword-input {
    display: flex;
    margin-bottom: 10px;
}

.keyword-input input {
    flex-grow: 1;
    padding: 8px 12px;
    border: 1px solid var(--border-color);
    border-radius: 6px 0 0 6px;
    transition: border-color 0.3s ease;
}

.keyword-input input:focus {
    outline: none;
    border-color: var(--primary-color);
}

.keyword-input button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.keyword-input button:hover {
    background-color: #b0b5b9;
}

/* Keyword Tags */
.keyword-display {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.keyword-tag {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9em;
}

.keyword-tag button {
    background: none;
    border: none;
    color: #777;
    margin-left: 8px;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 1;
}

.keyword-tag button:hover {
    color: #333;
}

/* Checkbox Styles */
.checkbox-group {
    display: flex;
    flex-direction: column;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
    user-select: none;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    outline: none;
    transition: all 0.3s;
}

.checkbox-group input[type="checkbox"]:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    position: relative;
}

.checkbox-group input[type="checkbox"]:checked::after {
    content: '✓';
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}


.filter-section {
    max-width: 300px;
    margin: 20px 0;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-section label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.slider-container {
    position: relative;
    height: 6px;
    background-color: #e0e0e0;
    margin: 30px 0;
}

.slider-track {
    position: absolute;
    height: 100%;
    background-color: #a7aaaf;
    z-index: 1;
}

input[type="range"] {
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    outline: none;
    margin: 0;
    z-index: 2;
    top: -7px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #353943;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #353943;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    background: transparent;
    border: none;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 6px;
    background: transparent;
    border: none;
}

.filter-bar {
    display: flex;
    width: 100%;
    grid-area: topbar;
    z-index: 100; /* Бусад элементүүдийн дээр байлгах */
    background-color: #f4f4f4; /* Нүцгэн биш байхын тулд өнгө */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Сүүдэр нэмнэ */
    justify-content: space-between; /* Элементийн хооронд зай тэнцүү байлгана */
    align-items: center; /* Элементийн босоо тэнхлэгт төвлөрүүлнэ */
}

.sort-buttons {
    display: flex;
    justify-content: end;
    gap: 10px; /* Элементүүдийн хоорондын зай */
}

.sort-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e0e0e0;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sort-button.active {
    background-color: var(--primary-color);
    color: white;
}

.price-filter {
    display: flex;
    align-items: center;
    gap: 15px;
}


#product-grid {
    display: grid;
    grid-area: content;
    align-items: start;
    grid-template-columns: repeat(3, 1fr); /* 4 багана */
    gap: 20px;
    margin-left: 50px;
    margin-top: 50px;
}


.product-card {
    position: relative;
    background-color: white;
    border: 1px solid var(--border-color);
    padding: 15px;
    text-align: start;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}
.product-image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.product-thumbnail{
    width: 280px;
    height: 280px;
}
.heart-button {
    position: absolute;
    top: 10px;
    scale: 1.3;
    right: 10px;
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.heart-button:hover {
    transform: scale(1.1);
}

.product-card h3 {
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 1.2rem;
    transition: color 0.3s;
}
.search-container {
    padding-left: 5%;
    display: flex;

}
a {
    text-decoration: none;
    color: black;
  }

#search-button {
    padding: 10px 20px;
    background-color: #353943;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

}
input[type="text"]{
    border-radius: 10px;
    border: none;
}
@media screen and (max-width: 1200px) {
    #product-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 багана */
    }
}

@media screen and (max-width: 768px) {
    #product-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 багана */
    }
}

@media screen and (max-width: 480px) {
    #product-grid {
        grid-template-columns: 1fr; /* 1 багана */
    }
}
