main {
    display: flex;
    gap: var(--font-size-xxl);
    padding-top: var(--font-size-md);
    padding-right: calc(var(--font-size-md)*5);
    padding-bottom: calc(var(--font-size-md)*5);
    padding-left: calc(var(--font-size-md)*5);
    background-color: var(--secondary-color);
}

section {
    flex: 1 1 calc(var(--header-height)*5);
    padding: var(--font-size-lg);
    border-radius: var(--font-size-xxs);
}

h1,h2 {
    padding: calc(var(--font-size-md)*2) 0rem;
    font-size: var(--font-size-xl);
    color: var(--color-neutral-grey-6);
}

label {
    display: flex;
    margin-bottom: var(--font-size-xxs);
}

input {
    display: block;
    padding: var(--font-size-xxs);
    border: var(--border-width) solid var(--color-neutral-grey-2);
    border-radius: calc(var(--font-size-md)*2);

}

input[type="checkbox"] {
    margin-right: var(--spacing-xs);
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-header p {
    margin: 0;
}

form .search-button {
    padding: var(--font-size-xxs) var(--font-size-md);
    background-color: var(--font-color-dark);
    color: var(--font-color-light);
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius);
    justify-content: end;
    align-items: flex-end;

}

form p {
    color: var(--color-neutral-grey-2);
    display: inline-block;
    margin-right: var(--border-radius);
}

hr {
    border: none;
    border-top: var(--border-width) solid var(--color-neutral-grey-2);
    margin: var(--font-size-md) 0;
}

form a {
    display: inline-block;
    margin-top: var(--border-radius);
    margin-right: 3rem;
    padding: var(--border-radius);
    color: var(--font-color-dark);
    text-decoration: none;
    border: var(--border-width) solid var(--font-color-dark);
    border-radius: calc(var(--font-size-md)*2);
    border-color: var(--color-neutral-grey-6);
}

form a:hover {
    background-color: var(--font-color-dark);
    color: var(--font-color-light);
}
a:hover svg {
    fill: var(--secondary-color); 
  }
  
a+a {
    margin-left: var(--border-radius);
}

p {
    margin: var(--spacing-xs) 0;
}

.nav-section {
    display: flex;
    gap: var(--font-size-md);
    margin: var(--font-size-md) 0;
}

.nav-section button {
    cursor: pointer;
    font-weight: 200;
    padding: var(--font-size-xxs) var(--font-size-md);
    border-bottom: var(--spacing-xxs) solid transparent;
}
.nav-section button span{
    font-weight: 200;
}

.nav-section button:hover {
    border-bottom: var(--spacing-xxs) solid var(--color-neutral-grey-3);
}
.nav-section button.active {
    border-bottom: var(--spacing-xxs) solid var(--font-color-dark);
}
.svg-container {
    padding-top: calc(var(--font-size-md)*2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--mid-width)/2); /* SVG-ийн орон зайг тодорхойлох */
}

svg {
    margin: auto;
}
.social-login {
    display: flex;
    gap: var(--font-size-xl);
    margin-bottom: var(--font-size-md);
    color: var(--font-color-dark);
}


.socialBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-sm);
    padding: var(--font-size-xxs);
    width: calc(var(--mid-width)/2);
    max-width: fit-content;
    color: var(--font-color-dark);
    border-radius: var(--font-size-xl);
    border: solid;
    border-color: var(--font-color-dark);
    border-width: 0.var(--font-size-md);
}


section p:nth-child(3){
    display: flex;
    justify-content: center;
    color: var(--color-neutral-grey-2);
    align-items: center;
    text-align: center;
}
.switch {
    display: inline-block;
    position: relative;
    display: inline-block;
    width: calc(var(--font-size-md)*2);
    height: var(--font-size-md);
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-neutral-grey-2);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--font-size-md);
    width: var(--font-size-md);
    left: 0;
    bottom: 0;
    background-color: var(--font-color-light);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--font-color-dark);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 var(--border-width) var(--color-neutral-grey-2);
  }
  
  input:checked + .slider:before {
    transform: translateX(var(--font-size-md));
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: var(--font-size-md);
  }
  
  .slider.round:before {
    border-radius: calc(var(--max-width)/2);
  }

.form-grid {
    display: grid;
    grid-template-columns: var(--grid-column) var(--grid-column);
    gap: var(--font-size-md);
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        padding: var(--font-size-md);
    }

    section {
        padding: var(--border-radius);
    }

    .form-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-grid {
        grid-template-columns: var(--grid-column);
    }

    .form-header button {
        margin-top: var(--font-size-md);
        width: var(--max-width);
    }

    .social-login {
        flex-direction: column;
        gap: var(--border-radius);
    }

    .socialBtn {
        width: var(--max-width);
    }
}