main {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.login-container {
    padding: 2rem;
    text-align: center;
    width: 400px;
    position: relative;

}
h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
}

form .form-group {
    margin-bottom: 1rem;
    text-align: left;
}

form .form-group label {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
    display: block;
}

form .form-group input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

form .form-group input:focus {
    outline: none;
    border-color: #555;
}

.btn {
    background-color: #353943;
    color: #fff;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #555a66;
}

.small-text {
    font-size: 0.85rem;
    color: #666;
    margin-top: 1rem;
}
