/* Custom Properties */
:root {
    --primary-color: #353943;
    --secondary-color: #ffffff;
    --dark-bg: #1a1a1a;
    --light-bg: #f4f4f4;
    --font-color-dark: #ffffff;
    --font-color-light: #000000;
    --spacing: 0.5rem;
    --spacing-unit: 0.5rem;
    --transition-time: 0.3s;
    --border-radius: 10px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --gradient-bg: linear-gradient(45deg, #272525, #7b7a78);
    --text-color-dark: #ffffff;
    --text-color-light: #000000;
    --main-bg-color-dark: #1a1a1a;
    --main-bg-color-light: #f4f4f4;
    --color-gray: #828282;
    --color-neutral-grey-1: #f4f4f4;
    --color-neutral-grey-2: #e5e5e5;
    --color-neutral-grey-3: #9b9b9b;
    --color-neutral-grey-4: #757575;
    --color-neutral-grey-5: #4a4a4a;
    --color-neutral-grey-6: #353535;
    --color-neutral-grey-7: #979797;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body section */
body {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-color-light);
    background-color: var(--main-bg-color-light);
    transition: background-color var(--transition-time), color var(--transition-time);
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

/* Dark Mode */
body.dark-mode {
    background-color: var(--dark-bg);
    color: var(--font-color-dark);
}

body.dark-mode header {
    background-color: var(--primary-color);
}

body.dark-mode header h3 {
    background-color: var(--light-bg);
    color: var(--text-color-light);
}

/* Light Mode */
body.light-mode {
    background-color: var(--light-bg);
    color: var(--font-color-light);
}

/* Typography */
h1, h2, h3, p {
    line-height: 1.5;
    margin: 0;
    letter-spacing: 0.05em;
}

/* Gradient title */
h2.gradient {
    font-size: 2rem;
    background: linear-gradient(to right, #332f2e, #ded6d0);
    text-align: center;
    text-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.5);
    color: transparent;
    background-clip: text;
}

/* Form styling */
.search-form {
    display: flex;
    align-items: center;
    padding: 2px 50px;
    background-color: var(--color-neutral-grey-1);
}

.search-form input[type="text"] {
    border: none;
    text-align: center;
    background-color: var(--color-neutral-grey-1);
    padding: 5px;
    width: 100%;
    outline: none;
    color: var(--text-color-light);
}

.search-form button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    transition: color var(--transition-time);
}

.search-form button:hover {
    color: var(--secondary-color);
}

/* Rest of the CSS remains unchanged... */

ul li {
	list-style: none;
    display: inline-block;
	
}

/* Header section */

header {
    background-color: --primary-color;
    color: var(--secondary-color);
    text-align: center;
}

.back {
    font-size: 1em;
    color: var(--secondary-color);
}



/* Logo */
.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Navigation Links */
nav ul {
    list-style: none;
    gap: 30px;
    align-items: center;
}

nav ul li {
    color: #333;
    text-decoration: none;
    font-size: 0.9em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Flex and Grid Layout */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 1.25rem;
}
#navMenu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center; /* Center items within the nav menu */
    gap: 20px;
    flex-grow: 1; /* Makes the ul take up remaining space to center it */
}

/* Style for Individual Links */
#navMenu li a {
    color: #333;
    text-decoration: none;
    font-size: 1em;
}
#iconMenu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #333;
    flex-grow: 0.2; /* Makes the ul take up remaining space to center it */
}

/* Style for Individual Links */
#iconMenu li a {
    color: #333;
}


nav img.logo {
    width: 6.25rem;
    height: auto;
    transition: filter 0.3s;
    filter: brightness(1);
}

nav img.logo.dark-mode {
    filter: brightness(0.2);
}

ul li {
    margin: 0 0.85rem;
}
.banner {
    position: relative; 
    overflow: hidden; 
}

.banner img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.banner h1, 
.banner p {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    color: var(--font-color-dark); 
    text-align: center; 
    z-index: 1; 
}

.banner h1 {
    top: 20%; 
    font-size: 2.5rem; 
}

.banner p {
    top: 40%; 
    font-size: 1.5rem; 
}

.services {
    margin-top: 2rem ;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* Toggle button for mobile */
.nav-toggle {
    display: none;
}

/* Featured Products */
.featured-products .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--spacing);
}

/* Product gallery section */
.product-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: var(--spacing-unit) 0;
    overflow-x: scroll;
}

.product-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    max-width: 80%;
}

.product-container figure {
    min-width: 12.5rem;
    margin: 0 0.625rem;
    text-align: center;
}

.product-container img {
    max-width: 100%;
    height: auto;
}

/* Arrows */
.scroll-left, .scroll-right {
    background-color: var(--primary-color);
    color: var(--text-color-dark);
    border: none;
    padding: 0.625rem;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
}
.brand {
 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scroll-left {
    left: 0.625rem;
}

.scroll-right {
    right: 0.625rem;
}

/* Media Queries */

/* For tablet and mobile devices */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        padding: 20px;
    }

    .subscribe-form {
        flex-direction: column;
        align-items: center;
    }

    .quick-links ul {
        grid-template-columns: 1fr;
    }

    .download-app .qr-codes {
        flex-direction: column;
        align-items: center;
    }

    .social-icons {
        justify-content: center;
    }
}

/* For mobile devices only */
@media (max-width: 480px) {
    .footer-section {
        padding: 10px;
    }

    .subscribe-form input[type="email"] {
        width: 100%;
    }

    .quick-links ul li {
        margin-bottom: 5px;
    }

    .download-app .qr-codes img {
        width: 50px;
        height: 50px;
    }

    .social-icons a {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    #navMenu {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    #navMenu li {
        margin: 10px 0;
    }

    .search-form {
        width: 100%;
        margin-top: 10px;
    }

    .search-form input[type="text"] {
        width: 100%;
    }

    #iconMenu {
        margin-top: 10px;
        justify-content: flex-start;
    }
}

/* For mobile devices only */
@media (max-width: 480px) {
    .back {
        font-size: 14px;
    }

    .logo {
        height: 40px;
    }

    #navMenu a {
        font-size: 12px;
    }

    #iconMenu li {
        margin-left: 10px;
    }
}


.classics-collection {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.hero-section { /* Class name changed here */
    margin-bottom: 20px;
}

.hero-section h1 {
    font-size: 36px;
    font-weight: bold;
}

.hero-section p {
    font-size: 18px;
    margin: 10px 0;
}

.shop-button {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.images-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.image-item {
    width: 30%;
    position: relative;
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.image-item p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color-dark);
    padding: 1.5rem 1.25rem;
    font-family: Arial, sans-serif;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content:center;
    max-width: 100%;

}

.footer-section {
    flex: 1;
    padding: 0 100px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #B0B0B0;
}

.subscribe-form {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds spacing between input and button */
}

.subscribe-form input[type="email"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    outline: none;
}

.subscribe-form button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.quick-links ul {
    list-style: none;
    display: grid;
    
}

.quick-links ul li {
    margin-bottom: 8px;
}

.quick-links ul li a {
    text-decoration: none;
    color: #B0B0B0;
    font-size: 14px;
}

.quick-links ul li a:hover {
    color: var(--secondary-color);
}

.icons{
    display: flex; 
    gap: 10px;
}
.download-app .qr-codes {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.download-app .qr-codes img {
    width: 80px;
    height: 80px;
}
.download-app .app-icons img {
    display: block;
    
}
.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #B0B0B0;
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    color: var(--secondary-color);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #B0B0B0;
}